<% if material_request.orders.size > 0 %>
<p class="clear">
	<strong style="font-weight: bold; font-size: 95%;">POs</strong>
<span id="links_to_orders"><%= link_to_orders material_request %></span>
</p>
<% end %>