/.bundle
/db/sphinx

/db/*.sqlite3

/log/*.log
/log
/tmp
/.idea
/public/assets

/config/development.sphinx.conf

#attachments(uploaded)
/data/general_references
/data/material_request
/data/material_request_attachments
/data/piping_references
/data/quote_attachments
/data/changelog_attachments
/data/tickets
