<li><%= img_button "Create a New Order", "order_add.png", new_order_path %></li>
<li><%= img_button "Create a New Vendor", "vendor_add.png", new_vendor_path %></li>
<li><%= img_button "Back to Panel", "logout.png", "/" %></li>
