<h3>Thank you for submitting a user note</h3>
<h3>It now has the status of <%= "#{@user_note.status}" %></h3>

<p>The note you submitted was: <br/><%= "#{@user_note.note}" %></p>

If you are not the intended recipient of this message, please contact your system administrator.