<div id="popv-notes">
    <h1 id="top" align="center">General Notes For WebPOPV</h1>
    <h2 align="center">Table of Contents</h2>
    <div align="center">
    <table border="1" width="750" id="table1">
    	<tr>
    		<td width="50%"><a href="#Forward">Forward</a></td>
    		<td width="50%"> &nbsp;</td>
    	</tr>
    	<tr>
    		<td width="50%"><a href="#1.0 General">1.0 General</a></td>
    		<td width="50%"><a href="#10.0 Seal Welding">10.0 Seal Welding</a></td>
    	</tr>
    	<tr>
    		<td width="50%"><a href="#2.0 References">2.0 References</a></td>
    		<td width="50%"><a href="#11.0 Thread Compound">11.0 Thread Compound</a></td>
    	</tr>
    	<tr>
    		<td width="50%"><a href="#3.0 Codes">3.0 Codes</a></td>
    		<td width="50%"><a href="#12.0 Instrument Piping">12.0 Instrument Piping</a></td>
    	</tr>
    	<tr>
    		<td width="50%"><a href="#4.0 Design Conditions">4.0 Design Conditions</a></td>
    		<td width="50%"><a href="#13.0 Safety Shields">13.0 Safety Shields</a></td>
    	</tr>
    	<tr>
    		<td width="50%"><a href="#5.0 Wall Thickness">5.0 Wall Thickness</a></td>
    		<td width="50%"><a href="#14.0 Branch Connection Chart">14.0 Branch Connection Chart</a></td>
    	</tr>
    	<tr>
    		<td width="50%"><a href="#6.0 Class Identification">6.0 Class Identification</a></td>
    		<td width="50%"><a href="#15.0 Packing - Gasketing Requirements">15.0 Packing - Gasketing Requirements</a></td>
    	</tr>
    	<tr>
    		<td width="50%"><a href="#7.0 Specification Notes">7.0 Specification Notes</a></td>
    		<td width="50%"><a href="#16.0 Piping Material Classification Index">16.0 Piping Material Classification Index</a></td>
    	</tr>
    	<tr>
    		<td width="50%"><a href="#8.0 Item Descriptions">8.0 Item Descriptions</a></td>
    		<td width="50%"><a href="#17.0 Underground Piping">17.0 Underground Piping</a></td>
    	</tr>
    	<tr>
    		<td width="50%"><a href="#9.0 Specific Item Notes">9.0 Specific Item Notes</a></td>
    		<td width="50%"> &nbsp;</td>
    	</tr>
    </table>
    </div>
    <h2 id="Forward" align="center">Forward (<a href="#top">top</a>)</h2> 
    <p>The following valve specification sheets are used to purchase the valves that 
    are specified in the individual Piping Material Line Classes. Refer to the 
    appropriate line class to determine which valve specification sheet to use.<br>
    <br>
    The valve specification sheets provide an outline of the general characteristics 
    for each specific type of valve, and assign each valve a unique valve number. 
    The sheets provide the applicable manufacturing standard, the metallurgy of the 
    valve parts, pressure rating, end connections, and the required non-destructive 
    examination, if applicable. See the VALVE NUMBER INDEX for the list of approved 
    manufacturers and figure numbers of acceptable valves. <br>
    <br>
    The following example is offered as a guideline in ordering valves from the 
    sheets:<br>
    <br>
    Refer to the P&amp;ID's or piping isometric drawings to determine the applicable 
    piping line class. For this example, line class &quot;CA&quot; is selected. The valve size 
    and type to be considered is a 4&quot; gate valve. Referring to line class &quot;CA&quot;, this 
    valve has a valve number of &quot;V01010.&quot; Find this valve with this number in the 
    valve specification sheets. Use this sheet to purchase the valve.<br>
    <br>
    In general, the more unique the valve the more information is required to 
    describe it. However, in most cases, the specification sheet provides sufficient 
    detail to describe the valve to a vendor.<br>
    <br>
    Refer to ARCO Engineering Standard 205 for valve stem packing requirements.<br>
    <br>
    A valve number system is defined such that the valves are listed numerically by 
    category. They are listed by ASME class rating (designated 01 for class 150, 03 
    for class 300, etc.), followed by a three digit number indicating the specific 
    type of valve. The following is a breakdown of the valve number and the three 
    digit designator for a class 600 gate valve.</p>
    <div align="center">
    <table border="1" width="750" id="table2">
    	<tr>
    		<td width="33%"><b>VALVE </b></td>
    		<td width="33%"><b>ASME CLASS </b></td>
    		<td width="33%"><b>VALVE DESIGNATOR</b></td>
    	</tr>
    	<tr>
    		<td height="30" width="33%">V</td>
    		<td height="30" width="33%">06</td>
    		<td height="30" width="33%">010</td>
    	</tr>
    </table>
    </div>
    <p>The valve designator numbers are assigned to a specific type of valve as 
    follows:</p>
    <div align="center">
    <table border="1" width="750" id="table3">
    	<tr>
    		<td width="33%"><b>VALVE DESIGNATOR</b></td>
    		<td width="33%"><b>VALVE TYPE</b></td>
    	</tr>
    	<tr>
    		<td height="30" width="33%">001 - 399</td>
    		<td height="30" width="33%">Gate</td>
    	</tr>
    	<tr>
    		<td height="30" width="33%">400 - 499</td>
    		<td height="30" width="33%">Globe</td>
    	</tr>
    	<tr>
    		<td height="30" width="33%">500 - 699</td>
    		<td height="30" width="33%">Check</td>
    	</tr>
    	<tr>
    		<td height="30" width="33%">700 - 799</td>
    		<td height="30" width="33%">Plug</td>
    	</tr>
    	<tr>
    		<td height="30" width="33%">800 - 999</td>
    		<td height="30" width="33%">Ball &amp; Misc.</td>
    	</tr>
    </table>
    </div>
    <h2 id="1.0 General" align="center">1.0 General (<a href="#top">top</a>)</h2>
    <h3>1.1 SCOPE</h3>
    <p>This specification covers material and component requirements for process, 
    utility,
    instrumentation, steam tracing, and sewer piping for the ARCO Products Company 
    (hereafter referred
    to as ARCO in this specification) refineries.</p>
    <h3>1.2 DEVIATIONS</h3>
    <p>1.2.1 Any deviations from this Standard shall be submitted to ARCO for approval 
    in writing.<br>
    <br>
    1.2.2 Deviations to this Standard shall be resolved as discussed in ARCO 
    Engineering
    Standard P1-90, Section 8.0.<br>
    <br>
    1.2.3 All conflicts between the requirements of this specification, related 
    specifications,
    codes, standards, purchase orders, drawings and data sheets shall be referred to
    ARCO Engineering Services for clarification before proceeding with design,
    procurement, or the fabrication of the affected parts.</p>
    <h2 id="2.0 References" align="center">2.0 References (<a href="#top">top</a>)</h2>
    <p>The following ARCO Engineering Standards supplement this specification:</p>
    <div align="center">
    <table border="1" width="750" id="table4">
    	<tr>
    		<td height="30" width="13%">42 </td>
    		<td height="30" width="84%">General Welding, Fabrication and Inspection 
    		for General Refinery Service.</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">200 </td>
    		<td height="30" width="84%">Piping Design</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">202 </td>
    		<td height="30" width="84%">Piping Graphics</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">203 </td>
    		<td height="30" width="84%">Steel Ball Valves</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">204 </td>
    		<td height="30" width="84%">Butterfly Valves</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">205V </td>
    		<td height="30" width="84%">Valve Specification Sheets</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">206 </td>
    		<td height="30" width="84%">Valve Procurement</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">208 </td>
    		<td height="30" width="84%">Pipe, Fittings, and Flanges Procurement</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">209 </td>
    		<td height="30" width="84%">Gasket Procurement</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">210 </td>
    		<td height="30" width="84%">Flange Bolting Procurement</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">211 </td>
    		<td height="30" width="84%">Pipe Fabrication, Inspection and Testing</td>
    	</tr>
    	<tr>
    		<td height="30" width="13%">503 </td>
    		<td height="30" width="84%">Coating for Buried Steel Piping</td>
    	</tr>
    </table>
    </div>
    <h2 id="3.0 Codes" align="center">3.0 Codes (<a href="#top">top</a>)</h2>
    <p>3.1 Piping systems other than those listed in Paragraph 3.2 below are based 
    on and are in accordance with ASME B31.3, latest edition, &quot;Chemical Plant and 
    Petroleum Refinery Piping&quot;, unless otherwise specified in the individual line 
    classes.<br>
    <br>
    3.2 &quot;Boiler External Piping&quot; within the jurisdiction of ASME Boiler and Pressure 
    Vessel Code Section 1 shall be in accordance with ASME B31.1, latest edition 
    &quot;Power Piping&quot;.<br>
    <br>
    3.3 Codes, Standards, or Publications referenced in this Standard shall be the 
    latest approved version of such Code, Standard, or Publication unless otherwise 
    indicated.<br>
    <br>
    3.4 The term &quot;latest edition&quot; shall be interpreted as the latest edition 
    (including latest published addenda) in force at the date of agreement to 
    perform work or purchase.</p>
    <p></p>
    <h2 id="4.0 Design Conditions" align="center">4.0 Design Conditions (<a href="#top">top</a>)</h2>
    <p>4.1 Unless otherwise noted, all pressures and temperatures referred to are 
    design conditions.<br>
    <br>
    4.2 Unless otherwise specified in the individual line classes, all pressures 
    specified are positive pressures. All piping systems subjected to negative 
    pressures shall be investigated on an individual basis.<br>
    <br>
    4.3 Piping component wall thicknesses do not include any additional thicknesses 
    that may be required to compensate for such design considerations as thermal 
    loads due to restraints, live loads, hydraulic shock, or loads and forces from 
    other causes, all of which will be considered in the design of piping systems.<br>
    <br>
    4.4 Selection of steels exposed to hydrogen environment are in accordance with 
    &quot;Steels for Hydrogen Service at Elevated Temperatures and Pressures in Petroleum 
    Refineries and Chemical Plants, API Publication 941, latest edition. &quot;Hydrogen 
    Service&quot; is defined as any fluid stream containing 50 PSIA or greater partial 
    pressure of hydrogen.<br>
    <br>
    4.5 &quot;Sour Water Service&quot; is defined as a fluid stream containing liquid water 
    and at least 50 PPM by weight of hydrogen sulfide, with or without ammonia.<br>
    <br>
    4.6 &quot;Wet Sour Gas Service&quot; is defined as a fluid stream containing water and gas 
    at a total pressure of 65 PSIA or greater and partial pressure of hydrogen 
    sulfide is greater than 0.05 PSIA at a temperature of 250F or less, with no 
    amine present.<br>
    <br>
    4.7 &quot;Acid Gas&quot; is defined as a fluid stream containing high concentrations of 
    hydrogen sulfide with water present, typically overhead streams from an amine 
    regenerator.<br>
    <br>
    4.8 &quot;Amines&quot; are defined as organic alkanolamine solutions, typically 15-30%, 
    used to remove acid gases (CO2, H2S) from refinery process gas streams. They 
    include DEA, MEA, MDEA, DGA, and DIPA.<br>
    <br>
    4.9 Lines in &quot;Sour Water and Wet Sour Gas&quot; services shall meet the requirements 
    of NACE Standard RP0472-87 latest edition for P-1 materials and NACE Standard 
    MR-01-75, latest edition for all other materials.<br>
    <br>
    4.10 Where a service is designated as &quot;General Hydrocarbons&quot; ( without having 
    specific quantities of either sulfur or hydrogen sulfide specified), it shall be 
    understood that these lines may contain up to 0.2 weight percent of sulfur 
    and/or 0.01 mil percent hydrogen sulfide.</p>
    <p></p>
    <h2 id="5.0 Wall Thickness" align="center">5.0 Wall Thickness (<a href="#top">top</a>)</h2>
    <p>5.1 The piping component wall thicknesses specified in the individual line 
    classes are based only on design considerations of pressure, temperature, 
    corrosion allowance, allowance for mechanical strength, manufacturer's minus 
    tolerance, and threading allowance. Allowances for erosion, vacuum, etc., are 
    not included and shall be added as required.<br>
    <br>
    5.2 The D/t ratio of nominal outside diameter to minimum available thickness 
    (nominal thickness minus mill tolerance minus corrosion allowance minus 
    mechanical allowance) shall not exceed 135 unless provisions are made to prevent 
    unacceptable ovality and deflection of the pipe (reinforcing rings, decreased 
    support spans, etc.) and there is no possibility of forming a vacuum.</p>
    <p></p>
    <h2 id="6.0 Class Identification" align="center">6.0 Class Identification (<a href="#top">top</a>)</h2>
    <p>The Piping Material Classification Index identifies the proper piping 
    material line class by a code consisting of two or more identification 
    characters, except for Line Class A. The two or more character designations 
    shall be used to identify the basic carbon steel, alloy, and stainless steel 
    line classes for process and utility services.<br>
    <br>
    6.1 The first character indicates the ASME flange pressure rating as follows:</p>
    <div align="center">
    <table border="1" width="750" id="table5">
    	<tr>
    		<td height="30" width="29%" align="center"><b>CHARACTER </b> </td>
    		<td height="30" width="69%" align="center"><b>ASME CLASS RATING</b></td>
    	</tr>
    	<tr>
    		<td height="30" width="29%" align="center">A</td>
    		<td height="30" width="69%" align="center">NONE</td>
    	</tr>
    	<tr>
    		<td height="30" width="29%" align="center">B</td>
    		<td height="30" width="69%" align="center">125</td>
    	</tr>
    	<tr>
    		<td height="30" width="29%" align="center">C</td>
    		<td height="30" width="69%" align="center">150</td>
    	</tr>
    	<tr>
    		<td height="30" width="29%" align="center">D</td>
    		<td height="30" width="69%" align="center">300</td>
    	</tr>
    	<tr>
    		<td height="30" width="29%" align="center">E</td>
    		<td height="30" width="69%" align="center">400</td>
    	</tr>
    	<tr>
    		<td height="30" width="29%" align="center">F</td>
    		<td height="30" width="69%" align="center">600</td>
    	</tr>
    	<tr>
    		<td height="30" width="29%" align="center">G</td>
    		<td height="30" width="69%" align="center">900</td>
    	</tr>
    	<tr>
    		<td height="30" width="29%" align="center">H</td>
    		<td height="30" width="69%" align="center">1500</td>
    	</tr>
    	<tr>
    		<td height="30" width="29%" align="center">J</td>
    		<td height="30" width="69%" align="center">2500</td>
    	</tr>
    	</table>
    </div>
    <p>6.2 The second character indicates the piping material as follows:<br>
    </p>
    <div align="center">
    <table border="1" width="750" id="table6">
    <tr>
    	<td width="30%" align="center"><b>CHARACTER </b></td>
    	<td width="70%" align="center">
    	<p align="center"><b>MATERIAL</b></td>
    </tr>
    <tr><td width="30%" align="center">A</td><td width="70%" align="center">Carbon Steel</td></tr>
    <tr><td width="30%" align="center">B</td><td width="70%" align="center">Carbon - 1/2 Mo</td></tr>
    <tr><td width="30%" align="center">C</td><td width="70%" align="center">1 1/4 Cr - 1/2 Mo</td></tr>
    <tr><td width="30%" align="center">D</td><td width="70%" align="center">2 1/4 Cr - 1 Mo</td></tr>
    <tr><td width="30%" align="center">E</td><td width="70%" align="center">5 Cr - 1/2 Mo</td></tr>
    <tr><td width="30%" align="center">F</td><td width="70%" align="center">9 Cr - 1 Mo</td></tr>
    <tr><td width="30%" align="center">G</td><td width="70%" align="center">12 Cr (TP 410 SS)</td></tr>
    <tr><td width="30%" align="center">H</td><td width="70%" align="center">304 SS</td></tr>
    <tr><td width="30%" align="center">J</td><td width="70%" align="center">304L SS</td></tr>
    <tr><td width="30%" align="center">K</td><td width="70%" align="center">316 SS</td></tr>
    <tr><td width="30%" align="center">L</td><td width="70%" align="center">316L SS</td></tr>
    <tr><td width="30%" align="center">M</td><td width="70%" align="center">347 SS</td></tr>
    <tr><td width="30%" align="center">N</td><td width="70%" align="center">Fiberglass Reinforced Plastic</td></tr>
    <tr><td width="30%" align="center">P</td><td width="70%" align="center">HF Modified</td></tr>
    <tr><td width="30%" align="center">Q</td><td width="70%" align="center">321SS</td></tr>
    <tr><td width="30%" align="center">R</td><td width="70%" align="center">Aluminum</td></tr>
    <tr><td width="30%" align="center">S</td><td width="70%" align="center">Plastic Lined</td></tr>
    <tr><td width="30%" align="center">T</td><td width="70%" align="center">Transite(Asbestos Cement)</td></tr>
    <tr><td width="30%" align="center">U</td><td width="70%" align="center">Cast/Ductile Iron</td></tr>
    <tr><td width="30%" align="center">V</td><td width="70%" align="center">Polyvinyl Chloride (PVC)</td></tr>
    <tr><td width="30%" align="center">X</td><td width="70%" align="center">Alloy 20</td></tr>
    <tr><td width="30%" align="center">Z</td><td width="70%" align="center">Reinforced Concrete Pipe</td></tr>
    	</table>

    </div>
    <br>
    6.3 The third character designates any variation from the basic two character 
    class, such as different corrosion allowances, temperature ranges, gasketing, 
    flange facing, etc.<br>
    <br>
    6.4 The fourth character designates any special variation of a three character 
    line class.<br>
    <br>
    6.5 An alpha-numeric designation such as S-1 and S-2 is to identify secondary 
    instrument piping beyond the primary block valve.</p>
    <p></p>
    <h2 id="7.0 Specification Notes" align="center">7.0 Specification Notes (<a href="#top">top</a>)</h2>
    <p>Each piping line class contains a set of notes which are part of that line 
    class. In order to use the line class properly, read and use the information 
    contained in these notes.</p>
    <p></p>
    <h2 id="8.0 Item Descriptions" align="center">8.0 Item Descriptions (<a href="#top">top</a>)</h2>
    <p>8.1 The Item Description shown in the individual line classes is abbreviated, 
    and may be used for purchasing these items except for valves and specialty 
    items. Refer to Paragraph 9.1.1 below for purchase descriptions of valves. 
    Specialty items will be provided with complete purchase descriptions or data 
    sheets. Valves that are considered specialty items shall be assigned an &quot;RW&quot; 
    number for the Los Angeles refinery and a &quot;CP&quot; number for the Cherry Point 
    refinery.<br>
    <br>
    8.2 Manufacturers' names are used only as reference. Other manufacturers listed 
    in the ARCO Products Company Approved Vendors List will be considered.</p>
    <p></p>
    <h2 id="9.0 Specific Item Notes" align="center">9.0 Specific Item Notes (<a href="#top">top</a>)</h2>
    <h3>9.1 VALVES</h3><br>
    <br>
    9.1.1 The valve descriptions indicated in the line classes are abbreviated. For 
    complete valve purchase descriptions and additional requirements, refer to the 
    Valve Specification Sheets, Standard 205V.<br>
    <br>
    9.1.2 The check valves specified in the individual line classes are of the 
    conventional type and are designed to be installed in vertical (upward flow) or 
    horizontal position unless limited in the line class.<br>
    <br>
    9.1.3 Check valves at centrifugal compressors operating in ASME class 600 and 
    lower shall be special non-slam, slow-closing check valves, Mokveld TKZ or Demag 
    Nozzle Check Valve models. Above ASME class 600 for centrifugal compressors and 
    all pressure classes for reciprocating compressors, the check valves shall be 
    approved by the Anaheim Engineering and Technology (AET) piping specialist.<br>
    <br>
    9.1.4 Butterfly valves shall not be bolted directly against check valves or to 
    any equipment or piping component that would interfere with the operation of the 
    butterfly valve.<br>
    <br>
    9.1.5 Flangeless valves (lug type) shall only be used in certain applications 
    approved, in writing by ARCO. If approved, the valves shall have unthreaded lugs 
    with through-bolt holes.<br>
    <br>
    9.1.6 Only the valves listed in the line classes shall be used unless identified 
    as exceptions on the P&amp;ID's by assignment of RW or CP numbers, as applicable.<br>
    <br>
    9.1.7 Chain wheels, if approved for certain applications, shall be impact type 
    for steel valves six inches and larger and mounted directly on the yoke bushing 
    rather than clamped on the hand wheel. (Refer to ARCO Engineering Standard 200 
    for chain wheel applications).<br>
    <br>
    9.1.8 Valve bypasses, when required, shall be installed on the pipe rather than 
    on the valve whenever possible. The bypass valve shall be globe type, and shall 
    be sized in accordance with the following, unless otherwise specified on the 
    P&amp;ID.</p>
    <div align="center">
    <table border="1" width="750" id="table7">
    <tr>
    	<td width="30%" align="center"><b>MAIN VALVE</b></td>
    	<td width="70%" align="center">
    	<p align="center"><b>BY-PASS VALVE</b></td>
    </tr>
    <tr><td width="30%" align="center">4&quot; - 8&quot;</td><td width="70%" align="center">3/4&quot;</td></tr>
    <tr><td width="30%" align="center">10&quot; - 14&quot;</td><td width="70%" align="center">1&quot;</td></tr>
    <tr><td width="30%" align="center">16&quot; and larger </td>
    	<td width="70%" align="center">1 1/2&quot;</td></tr>
    	</table>

    </div>
    <p>9.1.9 Sample connections shall have a primary block valve at the main line or 
    equipment per the applicable line class. The sampling valve shall be a needle or 
    ball valve per the applicable secondary instrument piping line class.<br>
    <br>
    9.1.10 Bellows-Sealed Valves Applications (for LAR only)<br>
    <br>
    a. Bellows-sealed gate and globe valves shall be used in sizes 2&quot; and smaller in 
    light hydrocarbon liquid, gas and vapor services. An approximate definition of 
    light hydrocarbon liquid service is any liquid having a vapor pressure greater 
    than that of kerosine, i.e. &gt;0.10 psig @ 100F. Complete definitions of light 
    hydrocarbon liquid service follows:<br>
    <br>
    1) Per EPA NSPS, Subpart GGG, Section 60.593 (d), equipment is in light liquid 
    service if the percent evaporated is greater than 10 percent at 150C (302F) as 
    determined by ASTM D-86.<br>
    <br>
    2) In SCAQMD Rule 1173, components handling liquids exclusively, if the weight 
    percent evaporated is 10 percent or less at 150C as determined by ASTM Method 
    D-86, are exempt, (i.e. they are not in light liquid service).<br>
    <br>
    3) EPA NSPS, Subpart VV, Section 60.485 (e) may also be used to define light 
    service. This requires that the fluid is a liquid at operating conditions and 
    the total concentration of the pure components having a vapor pressure greater 
    than 0.3 kilopascals absolute (0.04 psia) at 20C is equal to or greater than 20 
    percent by weight. Standard reference texts or ASTM D-2879 shall be used to 
    determine the vapor pressure of components.<br>
    <br>
    b. Bellows-sealed valves need not be used in the following applications:<br>
    <br>
    1) Heavy hydrocarbon liquids<br>
    <br>
    2) Control valves<br>
    <br>
    3) Instrument piping and tubing, including root valves 1/2&quot; and smaller.<br>
    <br>
    4) Valve replacements where space would be limiting and re-piping would be 
    required.<br>
    <br>
    5) Valves in which valve stem motion would impose a torsional loading on the 
    bellows (ball valves) which cannot be replaced with gate or globe valves.<br>
    <br>
    6) Liquid drain valves in which the valve stem must be in the horizontal 
    position and cannot be taken out of service without a shutdown.<br>
    <br>
    9.1.11 BLOCK VALVES FOR PRESSURE INSTRUMENTS<br>
    <br>
    The block valve for pressure instrument shall be a Gauge Valve for the Cherry 
    Point refinery (see standard drawing no. APCO-DWG-P-38 in Engineering Standard 
    202) and a piping primary block valve for the Los Angeles refinery.<br>
    <br>
    9.1.12 VALVES IN HYDROGEN SERVICE<br>
    <br>
    Critical areas of valve bodies and bonnets in hydrogen service in ASME class 600 
    and higher shall be radiographed (if made of castings ) or ultrasonically 
    examined (if made of forgings) as specified in the Valve Specification Sheets 
    (Standard 205V).<br>
    <br>
    <h3>9.2 PIPE</h3><br>
    <br>
    9.2.1 Where calculated wall thickness is specified in the individual line 
    classes, it shall be calculated in accordance with ASME B31.3 or ASME B31.1, 
    latest edition, as applicable. Refer to the D/t criterion specified in Paragraph 
    5.2 of this specification.<br>
    <br>
    9.2.2 Straight-run piping 1 1/2&quot; and smaller in socketweld classes, shall be 
    joined by socketwelding the ends together with a coupling; for piping in 
    threaded classes, use threaded coupling.<br>
    <br>
    9.2.3 Pipe 2&quot; and larger for field fabrication shall be purchased in double 
    random lengths. Piping 1 1/2&quot; and smaller shall be purchased in single random 
    lengths.<br>
    <br>
    9.2.4 Welded pipe shall not be substituted for seamless pipe without prior ARCO 
    Engineering Services approval.<br>
    <br>
    <h3>9.3 FITTINGS</h3><br>
    <br>
    9.3.1 When buttwelding fitting wall thickness is specified to match pipe, 
    fittings of commercially available wall thickness shall be used even though wall 
    thickness of such fittings may be slightly heavier then the pipe. Taper bore 
    ends of fittings internally if thickness exceeds that of the pipe by more than 
    1/16&quot;. Taper boring shall not result in infringement of the minimum wall 
    thickness.<br>
    <br>
    9.3.2 Mitered elbows are not permitted unless prior written approval has been 
    obtained from ARCO.<br>
    <br>
    9.3.3 Long radius elbows shall be used except when impractical due to space 
    limitations.<br>
    <br>
    9.3.4 When using short radius elbows per ASME B16.28, note that pressure ratings 
    of these elbows are 80% to that of equivalent pipe.<br>
    <br>
    <h3>9.4 FLANGES</h3><br>
    <br>
    9.4.1 Weld neck flanges are specified with bore to match mating buttweld 
    fittings or pipe.<br>
    <br>
    9.4.2 Weld neck orifice flanges are specified with bore to match mating pipe 
    (taper boring is not permitted).<br>
    <br>
    9.4.3 Large diameter flanges (26&quot; and larger) shall be investigated so that 
    flange drilling matches the flange on the equipment.<br>
    <br>
    9.4.4 Use steel flat face flanges and full face gaskets against cast iron 
    flanged valves and equipment (does not apply to Ductile Iron).<br>
    <br>
    9.4.5 Orifice flanges shall be ordered in pairs with jack screws but without 
    bolting or gaskets.<br>
    <br>
    9.4.6 Dimensions of blind flanges 26&quot; nominal size and larger shall assure 
    capability of sustaining full hydrostatic pressure test for the specified ASME 
    pressure class.</p>
    <p></p>
    <h2 id="10.0 Seal Welding" align="center">10.0 Seal Welding (<a href="#top">top</a>)</h2>
    <p>10.1 The following threaded joints shall be seal welded in lines for which 
    socketweld construction in small piping is specified:</p>
    <p>&nbsp;&nbsp;&nbsp;
    a. Orifice taps</p>
    <p>&nbsp;&nbsp;&nbsp;
    b. UNVALVED hydrostatic test vent and drain connections after hydrotest&nbsp;&nbsp;
    </p>
    <p>10.2 All thread compounds shall be completely removed from any joint to be seal 
    welded.<br><br>10.3 Seal welds shall cover all exposed threads.<br><br>10.4 Do not seal weld the following:</p>
    <p>&nbsp;&nbsp;&nbsp;
    a. Instrument (S-1, S-2, S-3, etc. line classes) and drain piping downstream of 
    primary block valve.<br>&nbsp;&nbsp;&nbsp;
    b. Control valves, relief valve equipment connections, instrument connections, 
    union nuts, thermowells, tube fittings and sampling valves.<br>&nbsp;&nbsp;&nbsp;
    c. Threaded connections that are needed for disassembly to pumps or other 
    mechanical equipment.<br>&nbsp;&nbsp;&nbsp;
    d. Screwed plugs in VALVED vents and drains.<br>&nbsp;&nbsp;&nbsp;
    e. Galvanized pipe and fittings.</p>
    <h2 id="11.0 Thread Compound" align="center">11.0 Thread Compound (<a href="#top">top</a>)</h2>
    <p>Thread compound shall be as follows unless otherwise specified:<br><br>a. PIPE THREADS</p>
    <blockquote>
    	<p>- 50F to 400F - Teflon base paste such as &quot;Liquid-O-Ring&quot;<br>
    	<br>Above 400F - Use Armite 250 &quot;Led Plate&quot; or Therm-O-Plate 220.<br>For Los Angeles, use Never Seez #NS 160 by Bostik.<br>
    	<br>Note: For oxygen piping, use teflon tape for pipe threads.</p>
    </blockquote>
    <p>b. BOLT THREADS</p>
    <blockquote>
    	<p>- 50F to 400F - Use Graphite and Oil Compound (Cherry Point only)<br><br>Above 400F - Use Armite 250 &quot;Led Plate&quot; (Cherry Point only)</p>
    	<p>&nbsp;&nbsp;&nbsp;
    or</p>
    	<p>- 50F to 115F - Fel Pro 220 (Cherry Point only)<br>- Never Seez #NS 160 (Los Angeles only)</p>
    </blockquote>
    <h2 id="12.0 Instrument Piping" align="center">12.0 Instrument Piping (<a href="#top">top</a>)</h2>
    <p>Secondary instrument piping classes (e.g., S-1, S-2, S-3) shall be used for 
    piping downstream of the primary block valve.</p>
    <p></p>
    <h2 id="13.0 Safety Shields" align="center">13.0 Safety Shields (<a href="#top">top</a>)</h2>
    <p>Spray shields shall be provided for all flanges and valves in caustic, acid, 
    and other chemical services designated by the refinery Environmental Health and 
    Safety (EH&amp;S) Department. Use Milshef - indicating &quot;Spray Stop&quot; or equal.</p>
    <p></p>
    <h2 id="14.0 Branch Connection Chart" align="center">14.0 Branch Connection Chart (<a href="#top">top</a>)</h2>
    <p>14.1 This specification contains three branch connection charts, BC-9, BC-10, 
    and BC-11, which shows the type of fitting to use for a branch connection to a 
    pipe run. Each line class indicates which chart to use.<br>
    <br>
    14.2 For field tie-in connections to piping in service, refer to MQAC Document 
    MQA-7, Procedure for Welding on Equipment in Service.<br>
    <br>
    14.3 Weldolet, Sockolet, Elbolet, etc., are registered trademarks of Bonney 
    Forge. Another acceptable manufacturer of reinforced branch connection fittings 
    is WFI.</p>
    <p></p>
    <h2 id="15.0 Packing - Gasketing Requirements" align="center">15.0 Packing - Gasketing Requirements (<a href="#top">top</a>)</h2>
    <p>Packing and gasketing materials shall be in accordance with the following 
    minimum requirements.<br>
    <br>
    <h3>15.1 Type: INTERBRAIDED GRAPHITE FILAMENT VALVE STEM PACKING RING (for BOTTOM 
    and TOP RINGS ONLY)</h3><br>
    <br>
    Valve stem packing ring; specify inside diameter of ring to be same as valve 
    stem diameter; specify outside diameter of ring to be same as diameter of bore 
    of stuffing box; specify height of ring to be approximately the same as the 
    width of the ring; interbraided from graphite filament with the following 
    properties:<br>
    &nbsp;</p>
    <div align="center">
    <table border="1" width="750" id="table8">
    <tr>
    	<td width="30%" align="center"><b>Asbestos Content </b></td><td width="70%">
    	<p align="left">None</td>
    </tr>
    <tr><td width="30%" align="center"><b>Carbon Content </b></td><td width="70%">
    	95% minimum per ASTM C-571</td></tr>
    <tr><td width="30%" align="center"><b>Leachable Chlorides</b></td><td width="70%">
    	100 ppm maximum per manufacturer's certification</td></tr>
    	</table>

    </div>
    <p>The packing shall contain a corrosion inhibitor to prevent electrolytic action 
    after hydrostatic testing, etc. <br>
    <br>
    Acceptable Packing: </p>
    <div align="center">
    <table border="1" width="750" id="table9">
    <tr>
    	<td width="30%" align="center"><b>Acceptable Packing </b></td><td width="70%">
    	<p align="left">Sepco Style ML4500, Johns Manville Style AF-1, John Crane 
    1625, Chesterton 370.</td>
    </tr>
    	</table>

    </div>
    <p>
    <br>
    <h3>15.2 Type: GRAFOIL DIE-MOLDED VALVE STEM PACKING RING</h3><br>
    <br>
    Valve stem packing ring: specify inside diameter of ring to be same as valve 
    stem diameter plus 0.005&quot;; specify outside diameter of ring to be same as 
    diameter of bore of stuffing box plus 0.002&quot;; specify height of ring to be 
    approximately the same as the width of the ring; ring shall be die molded from a 
    continuous length of FLEXIBLE GRAPHITE Ribbon Union Carbide Grafoil Grade GTK or 
    Polycarbon Calgraph-PB and shall have the following properties:</p>
    <div align="center">
    <table border="1" width="750" id="table10">
    <tr>
    	<td width="30%" align="center"><b>Density </b></td><td width="70%">90#/cu.ft. ( ± 5#/cu.ft.) per ASTM C559</td>
    </tr>
    <tr><td width="30%" align="center"><b>Asbestos Content</b></td><td width="70%">
    	None</td></tr>
    <tr><td width="30%" align="center"><b>Carbon Content </b></td><td width="70%">
    	95% minimum per ASTM C-571</td></tr>
    <tr><td width="30%" align="center"><b>Leachable Chlorides</b></td><td width="70%">
    	100 ppm maximum per manufacturer's certification</td></tr>
    <tr><td width="30%" align="center"><b>Total Chlorides</b></td><td width="70%">
    	500 ppm maximum per ASTM D512</td></tr>
    <tr><td width="30%" align="center"><b>Total Fluorides</b></td><td width="70%">
    	300 ppm maximum per ASTM D3761</td></tr>
    <tr><td width="30%" align="center"><b>Total Sulfur</b></td><td width="70%">1000 ppm maximum per ASTM C816</td></tr>
    	</table>

    </div>
    <p>The manufacturer shall certify that the sheet from which the ribbon is made is 
    resilient; its recovery shall be at least 15% when tested in accordance with 
    ASTM F36, Method A, modified to use the measured thickness of the sheet.<br>
    <br>
    The ring shall contain a non-metallic inorganic phosphorous based or zinc 
    corrosion inhibitor integrally bonded to the graphite during the manufacture of 
    the ribbon from which the ring is made. Application of this corrosion inhibitor 
    after die-forming of the ribbon is NOT acceptable.<br>
    <br>
    <h3>15.3 Type: SPIRAL-WOUND GASKET WITH FLEXIBLE GRAPHITE FILLER</h3><br>
    <br>
    Gaskets, circular: specify flange size (NPS); specify pressure class; specify 
    dimensional specification of the flange; spiral-wound, API Standard 601; metal 
    windings shall be AISI Type 304 or 316; the filler shall be flexible graphite 
    made from Union Carbide Grade GTB or CALGRAPH GRADE B with the following 
    properties;</p>
    <div align="center">
    <table border="1" width="750" id="table14">
    <tr>
    	<td width="30%" align="center"><b>Density </b></td><td width="70%">70#/cu.ft. per ASTM C-559</td>
    </tr>
    <tr><td width="30%" align="center"><b>Asbestos Content</b></td><td width="70%">
    	None</td></tr>
    <tr><td width="30%" align="center"><b>Carbon Content </b></td><td width="70%">
    	95% minimum per ASTM C-571</td></tr>
    <tr><td width="30%" align="center"><b>Leachable Chlorides</b></td><td width="70%">
    	100 ppm maximum per manufacturer's certification</td></tr>
    <tr><td width="30%" align="center"><b>Total Chlorides</b></td><td width="70%">
    	500 ppm maximum per ASTM D512</td></tr>
    <tr><td width="30%" align="center"><b>Total Fluorides</b></td><td width="70%">
    	300 ppm maximum per ASTM D3761</td></tr>
    <tr><td width="30%" align="center"><b>Total Sulfur</b></td><td width="70%">1000 ppm maximum per ASTM C816</td></tr>
    <tr><td width="30%" align="center"><b>Recovery (Resiliency)</b></td><td width="70%">
    	15% minimum per ASTM F-36 Method A modified to use measured thickness of 
    	sheet.</td></tr>
    	</table>

    </div>
    <p>
    <br>
    <h3>15.4 Type: FLEXIBLE GRAPHITE GASKET WITH 316SS TANG METAL INSERT</h3><br>
    <br>
    Flexible graphite sheet gaskets shall have a 316 stainless steel tang metal 
    insert, 0.005&quot; thick. The graphite shall have the following properties:</p>
    <div align="center">
    <table border="1" width="750" id="table15">
    <tr>
    	<td width="30%" align="center"><b>Density, nominal </b></td><td width="70%">
    	70#/cu.ft. per ASTM C-559</td>
    </tr>
    <tr><td width="30%" align="center"><b>Asbestos Content</b></td><td width="70%">
    	None</td></tr>
    <tr><td width="30%" align="center"><b>Carbon Content </b></td><td width="70%">
    	95% minimum per ASTM C-571</td></tr>
    <tr><td width="30%" align="center"><b>Leachable Chlorides</b></td><td width="70%">
    	100 ppm maximum per manufacturer's certification</td></tr>
    <tr><td width="30%" align="center"><b>Total Chlorides</b></td><td width="70%">
    	500 ppm maximum per ASTM D512</td></tr>
    <tr><td width="30%" align="center"><b>Total Fluorides</b></td><td width="70%">
    	300 ppm maximum per ASTM D3761</td></tr>
    <tr><td width="30%" align="center"><b>Total Sulfur</b></td><td width="70%">1000 ppm maximum per ASTM C816</td></tr>
    <tr><td width="30%" align="center"><b>Recovery (Resiliency)</b></td><td width="70%">
    	15% min., per ASTM F-36 Method A modified to use the measured thickness of 
    	the sheet.</td></tr>
    	</table>

    </div>
    <p>The flexible graphite sheets shall be mechanically bonded to the top and bottom 
    of the tang metal insert by calendaring. The gaskets shall be branded with the 
    manufacturer's name and style or grade of flexible graphite and meet ANSI 
    B16.21.<br>
    <br>
    Acceptable manufacturers: Union Carbide GHE or Polycarbon Calgraph BTCSS<br>
    <br>
    <h3>15.5 Type: COMPRESSED ASBESTOS SHEET GASKET MATERIAL</h3><br>
    <br>
    Compressed asbestos sheet gasketing shall be of premium quality using not less 
    than 80% long chrysotile asbestos fiber encapsulated in an SBR rubber binder 
    having the following properties:</p>
    <div align="center">
    <table border="1" width="750" id="table16">
    <tr>
    	<td width="65%" align="left"><b>Density, lbs\cu. ft.</b></td>
    	<td width="33%">120</td>
    </tr>
    <tr><td width="65%" align="left"><b>Asbestos Content</b></td><td width="33%">80%</td></tr>
    <tr><td width="65%" align="left"><b>Fluid resistance ASTM F146</b></td>
    	<td width="33%">&nbsp;</td></tr>
    <tr><td width="65%" align="right">ASTM #3 oil- Thickness increase:</td>
    	<td width="33%">20 - 40%</td></tr>
    <tr><td width="65%" align="right">ASTM Fuel B - Thickness increase:</td>
    	<td width="33%">5 - 20%</td></tr>
    <tr><td width="65%" align="right">Weight increase:</td><td width="33%">15%</td></tr>
    <tr><td width="65%" align="left"><b>Sealability, DIN 3535 (Nitrogen)</b></td>
    	<td width="33%">0.03 c.c./min</td></tr>
    <tr><td width="65%" align="left"><b>Recovery, ASTM F36</b></td><td width="33%">
    	50% min</td></tr>
    <tr><td width="65%" align="left"><b>Soluble fluoride, less than:</b></td>
    	<td width="33%">10 ppm</td></tr>
    <tr><td width="65%" align="left"><b>Soluble chloride, less than:</b></td>
    	<td width="33%">500 ppm</td></tr>
    <tr><td width="65%" align="left"><b>Soluble sulfate, less than:</b></td>
    	<td width="33%">1000 ppm</td></tr>
    <tr><td width="65%" align="left"><b>Tensile strength, ASTM F152 (across grain)</b></td>
    	<td width="33%">4000 psi (min)</td></tr>
    <tr><td width="65%" align="left"><b>Temperature (max)</b></td><td width="33%">
    	1100F</td></tr>
    <tr><td width="65%" align="left"><b>Pressure (max)</b></td><td width="33%">3700 
    	psi</td></tr>
    	</table>

    </div>
    <p>The gaskets shall have the manufacturer's branding. Cut gasket dimensions shall 
    meet ANSI B16.21.<br>
    <br>
    15.6 Asbestos sheet gasket is preferred by the Los Angeles refinery . Flexible 
    graphite sheet gasket is preferred by the Cherry Point refinery. The use of 
    flexible graphite sheet gasket at the Los Angeles refinery shall be approved by 
    the Manager of Maintenance and Engineering Services.</p>
    <p></p>
    <h2 id="16.0 Piping Material Classification Index" align="center">16.0 Piping Material Classification Index (<a href="#top">top</a>)</h2>
    <p>This specification contains a PIPING MATERIAL CLASSIFICATION INDEX, which is 
    a summary of the information in each line class, and can be used as a quick 
    reference or to compare line classes. The Index may be found following this 
    introductory section.<br>
    <br>
    Most of the line classes are common to both the Cherry Point Refinery (CPR) and 
    the Los Angeles Refinery (LAR). There are, however, a few line classes that are 
    applicable only to one of the refineries and these are indicated under the 
    &quot;COMMENT&quot; column. A few line classes have been placed on the ARCHIVE LIST and 
    shown on the chart following the Piping Material Classification Index. The chart 
    also shows the new equivalent line class to use. The archived line classes are 
    not part of this specification.</p>
    <p align="center"></p>
    <h2 id="17.0 Underground Piping" align="center">17.0 Underground Piping (<a href="#top">top</a>)</h2>
    <p>Underground steel piping shall be coated in accordance with ARCO Products 
    Company Engineering Standard 503.<br>
    <br>
    &nbsp;</p>
    <p></p>
</div>

