body { background: url(graphics/background.jpg) scroll repeat-x top left; font-family: Trebuchet MS; font-size: 12px; height: 100%; width: 100%; }
strong { font-weight: bold; }
#doc3 a { color: #336633; font-weight: bold; }
#doc3 a:hover { background-color: #222; color: #fff; padding: 0px 0px; text-decoration: none; }
#doc3 a.active_note { font-size: 105%; font-weight: bold; color: #000; }

br.clear { height: 1px; clear: both; }

    /* Useful class elements */
.section { padding: 20px; }
.clear { clear: both; }
.button img { margin-right: 3px; position: relative; top: 3px; }
.inline { display: inline; }
form p span.by { font-size: 80%; font-weight: bold; color: #006600; }
form p span.by.red { color: red; }


div.related_data {padding:15px 5px 0px;}
.related_data table { position: relative; left: 1px; border-left: 1px solid #ccc; border-top: 1px solid #ccc; padding: 0px; font-size: 95%; overflow-x: scroll; width: 95%; border-right: 1px solid #ccc; }
.related_data table th, .related_data table td { padding: 4px 8px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.related_data table th { background-color: #222; color: #fff; border: 1px solid #111; padding: 6px 8px; }



.yellow {background-color: yellow !important; }
.selected-link {
    background-image: url(img/silk/icons/bullet_blue.png);
    background-repeat: no-repeat;
    background-position: center left;
    color: #05D !important;
}


    /* Layout specific elements */
#hd { background-color: #333; color: #fff; position: relative;
    font-family:arial,helvetica,clean,sans-serif;
    font-size:13px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}
#hd a { color: #fff;font-weight:bold; }
#company-branding { position: absolute; top: 5px; left: 10px; }
#company-branding a { border: none; color: #fff; text-decoration: none; }
#company-branding a:hover { background-color: transparent; border: none; color: #fff; text-decoration: none; }
#company-branding h1 { font-family: sans-serif; font-weight: bold; font-size: 180%; display: inline; letter-spacing: -1px; position: relative; bottom: 20px; left: 2px; }
#company-branding img { }
#site-branding h2 { position: absolute; font-size: 100%; font-weight: bold; top: 35px; left: 63px; }
#telaeris-branding { font-size: 115%; position: absolute; top: 15px; right: 10px; }

* html #telaeris-branding { right: 25px; }
* + html #telaeris-branding { right: 25px; }

#ajax_loading { background-color: green; color: #fff; font-size: 110%; position: absolute; top: 0;right: 220px;
    padding: 6px 8px; display: inline; z-index: 100; }
#user-info { color: #eee; position: absolute; font-size: 90%; top: 65px; right: 10px; }
#user-info a { color: #fff; }
* html #user-info { right: 25px; }
* + html #user-info { right: 25px; }

#version {
    color: #eee;
    position: absolute;
    font-size: 90%;
    top: 45px;
    right: 10px;
}


#navigation { font-size: 100%; position: absolute; top: 64px; left: 10px; list-style: none; display: inline; }
#navigation li { display: inline; margin-right: 8px; }
#navigation a { color: #fff; text-decoration: none; }
#navigation a.selected { background: #eee; border-top: 3px solid #33CC00; color: #000; padding: 8px 4px; padding-top: 4px; }
#navigation a:hover { background: transparent; text-decoration: none; color: #33FF00 }
#navigation a:hover.selected { background: #eee; border-bottom: none; cursor: default; color: #33FF00 }

#menu { font-size: 95%; position: absolute; top: 88px; left: 10px; list-style: none; display: inline; width: 100%; }
#menu li { display: inline; margin-right: 8px; }
#menu a { color: #000; text-decoration: none; }
#menu a:hover { background: transparent; }

#search { top: 92px; position: absolute; right: 10px; }
* html #search { top: 90px; right: 25px; }
* html #search .order-search { position: relative; bottom: 5px; }
* + html #search { top: 90px; right: 25px; }
* + html #search .order-search { position: relative; bottom: 5px; }
#search #query, #search #q { width: 180px; }
#search form { display :inline; }

#content { position: absolute; top: 108px; left: 0px; width: 100%; }

table.information { border-left: 1px solid #ccc; border-right: 1px solid #ccc; width: 100%; }
table.information td.lbl { text-align: right; }
table th { font-weight: bold; }
table th select { font-size: 90%; }
table.information th { background: #222 url(graphics/th.jpg) repeat-x top left; color: #fff; font-size: 95%; font-weight: bold; }
table.information th.med { width: 160px; }
table.information th a { color: #fff; }
table.information th, table.information td { border-bottom: 1px solid #ccc; padding: 3px 8px; }
table.information tr.odd td { background-color: #ddd; }
table.information tr:hover td { background-color: #222; color: #fff; }
.edit table.information tr:hover td { background: transparent; color: #000; }
.edit table.information tr:hover td a { color: #336633; }
.edit table.information tr.selected td, .edit table.information tr.selected:hover td { background-color: #FAFF74; }
table#pipe_materials th a { font-size: 85%; position: relative; bottom: 2px; }
table#pipe_materials td { padding: 2px 3px; }
table#pipe_materials td select { width: 100%; }
table.information tr td span.date { font-size: 85%;  color: #222; }
table.information tr:hover td span.date { color: #fff; }
table.information tr:hover td a { color: #fff; }
table tr .delete-icon { cursor: pointer; visibility: hidden; margin-right: 2px; }


    /* Forms */
form.edit { width: 45%; font-size: 100%; }
form.edit h2.msg { border-bottom: 1px solid #ccc; font-size: 130%; font-weight: bold; margin-bottom: 20px; text-align: center; }
form.edit h2.msg input { font-size: 90%; font-weight: normal; margin-left: 10px; position: relative; bottom: 3px; }
form.edit.full { width: 98%; }
form.edit.inline { width: 100%; }
form.edit p { clear: both; margin-top: 2px; margin-bottom: 7px; }
form.edit label { font-weight: bold; font-size: 95%; display: block; margin: 1px 0; line-height: 1em; }
form.edit input.text, form.edit textarea, form.edit select,  form.edit input.password,  #search input.text, #search select,input.text {
    font-size: 95%; margin: 2px 0; padding: 1px 2px; width: 90%; border-top:1px solid #7c7c7c; border-left:1px solid #c3c3c3; border-right:1px solid #c3c3c3; border-bottom:1px solid #ccc; }
form.edit textarea { font-size: 105%; margin: 1px 0; padding: 1px; font-weight: normal; height: 40px; width: 90%; }
form.edit .title { font-weight: bold; }
form.edit .short { width: 50%; }
form.edit .description { color: #555; display: block; font-size: 85%; margin: 2px 0; }
form.edit .formError { color: #ff0000; font-weight: bold; }
form.edit span.required { color: #ff0000; font-size: 85%; font-style: italic; }
form.edit .meta { color: #222; font-size: 85%; font-style: italic; }
form.edit .form-button {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
form.edit .menu { margin-top: 20px; }
form.edit .menu a { font-size: 110%; }
form.edit div.left { float: left; width: 47%; }
form.edit div.right { float: right; width: 47%; }
form.edit.inline input.text { width: 300px; }
form.edit label.inline { display: inline; }
#search input.text { width: 220px; padding: 2px; }

#search select { font-size: 95%; padding: 1px; position: relative; bottom: 2px; width: 120px; }

    /* For pagination */
.pagination { margin: 15px 0; text-align: left; font-size: 95%; }
.pagination .section { padding: 2px 0; }
.pagination .disablepage, .pagination .currentpage { background: #eee; border: 1px solid #ddd; padding: 2px 4px; }
.pagination a { background: #444; border: 1px solid #333; color: #fff; padding: 3px; text-decoration: none; }
.pagination strong { background: #eee; border: 1px solid #ccc; color: #000; padding: 3px; }

#page_jump { display: none; }

table.sales { border: 1px solid #ccc; width: 800; font-size: 17px; margin-top: 20px; }
table.sales th { font-weight: bold; padding: 0px; }
table.sales th.large { color: #fff; background-color: #000; font-size: 130%; text-align: center; }
table.sales th.small { font-size: 120%; background-color: #eee; text-align: left; padding-left: 10px; border-top: 2px solid #999; }
table.sales td { border: 0px; padding: 4px 12px 4px; width: 50%; text-align: left; }

form.edit .fieldWithErrors input, form.edit .fieldWithErrors select, form.edit select.error, form.edit input.error, form.edit textarea.error { background-color: #ffcccc; border: 1px solid red; border-top: 1px solid #FF4242; border-left: 1px solid #FF4242; }
form.edit div.fieldWithErrors { display: inline; margin: 0; padding: 0; position: relative; bottom: 10px; }
form.edit div.formError { position: relative; bottom: 10px; margin: 0; padding: 0; }
form.edit table div.fieldWithErrors { position: relative; bottom: 0; }

#errorExplanation #error { font-size: 20px; text-align: center; }
#errorExplanation { min-width: 400px; max-width: 600px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0; }
#errorExplanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 10pt; margin: -7px;background-color: #c00; color: #fff; }
#errorExplanation p { color: #333; margin-bottom: 0; padding: 5px; }
#errorExplanation ul {   padding-left: 20px; }
#errorExplanation ul li { font-size: 10pt; list-style: square; }

#error, #notice { min-width: 400px; width: 60%; margin-left: 20%; margin-right: 20%; margin-bottom: 20px; text-align: center;position: absolute; top: 0px; }
#notice #close-notice, #error #close-error { float: left; }
#notice { background: #ccffcc; border: 1px solid #006600; color: #006600; }
#error { background: #ff9966;border: 1px solid #660000;color: #660000; }
#notice .section, #error .section { padding: 10px; }
#order-form, #lineItemTable { border-collapse: collapse; border: 2px solid #666; padding: 2px; }
#order-form td, #lineItemTable td { border-right: 1px solid #999; border-bottom: 1px solid #999; padding: 2px; }
#order-form td td, #lineItemTable td td { border: none; padding: 0px; }
#changelog h1 { border-bottom: 1px solid #aaa; font-weight: bold; font-size: 140%; margin-top: 22px; margin-bottom: 4px; }
#changelog h2 { font-weight: normal; font-size: 130%; margin-top: 8px; margin-bottom: 4px; }
#changelog ul { list-style: disc; margin-left: 1.2em; }
#changelog p { margin-top: 2px; margin-bottom: 12px; }
#changelog ol { list-style: decimal; margin-left: 1.2em; }


    /* Internet explorer hacks to get things looking good */

    /* Move the navigation up 3 pixels, and extend the height
so the background of a selected link actually shows up */
    /*
    * html #navigation { top: 62px; height: 60px; }
    * + html #navigation { top: 62px; height: 60px; }
    * html #navigation li { height: 60px; padding: 20px 0; }
    * + html #navigation li { height: 60px; padding: 20px 0; }
    */

* html #navigation a { position: relative; padding-bottom: 12px; }
* + html #navigation a { position: relative; padding-bottom: 12px; }

* html #navigation a:hover { border-bottom: none; }
* + html #navigation a:hover { border-bottom: none; }

* html #navigation a.selected:hover { text-decoration: none; }
* + html #navigation a.selected:hover { text-decoration: none; }

    /* Fixes pagination issue, where the pagination links flicker when
hovered over and aren't completely filled in with the  background color */

* html .pagination a { padding: 6px; }
* + html .pagination a { padding: 6px; }

* html .pagination a:hover { background-color: #444; padding: 6px; }
* + html .pagination a:hover { background-color: #444; padding: 6px; }

* html div.auto_complete ul * { width: 100%; }

    /* for scrollable index pages */
#maininfo { overflow-y: auto; border: 1px solid #aaa;}
div[id=content] { bottom: 0px; }
div[id=maininfo] { position: absolute; top: 45px; bottom: 60px; left: 20px; right: 20px; }
div[id=pagination] { position: absolute; bottom: 10px; }
* html #maininfo { height: expression((document.body.clientHeight-222).toString() + 'px'); }   /* clientHeight =~ 592 */
* html #pagination { position: relative; bottom: 2px; padding-bottom: 0px; margin-bottom: 0px;}


    /* slider stuff */
div.slider {width: 350px;height: 5px;margin-top:5px;margin-bottom:5px;background: #aaa;position: relative; float: left;}
div.slider div {position:absolute;width:10px;height:20px;margin-top:-5px;background: #111;border:1px outset white; cursor: pointer; }
#paginate_page { width: 25px; text-align: right;}
#paginate_options { float: left; position: relative; left: 10px; width: 400px;}
#pagination .out_of { position: relative; bottom: 2px; font-weight: bold;}

.small-font {font-size: 75%!important;}
.large-font {font-size: 125%!important;}

#resource_navigation {
    font-size: 100%;
    margin-left: 2px;
    margin-right: 4px;
    font-family: arial,helvetica,clean,sans-serif;
}
#resource_navigation h1 {
    font-size: 130%;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
#resource_navigation li {
    padding: 1px;
}
#resource_navigation li a {
    display: block;
    padding: 4px 0px 4px 25px;
    background-repeat: no-repeat;
    background-position: 0px 50%;
    color: #15428B;
    text-decoration: none;
    margin: 0px 0px 0px 10px;
    border: 1px solid #FFF;
}
    /* Hack for IE6. It doesn't style anchor blocks unless given a width... */
* html #resource_navigation li a {
    width: 100%;
}
#resource_navigation a:hover {
    color: #33B;
    background-color: #DFE8F6;
    border: 1px solid #33B;
}

.current_bom {
    font-size: 80%;
    padding-left: 30px;
    margin-top: 5px;
}

.hidden {display:none;}

.detail_note a { color:#15428B; text-decoration: none;}

.purple { color:purple }

.x-tab-strip-active {
    text-decoration:underline;
}

    /*******************************************************************
    *  POPV Piping Classes Grid
    *******************************************************************/
.x-grid3-cell-inner {
    white-space: normal !important;
}

table.popv-notes {
    border-collapse: collapse;
    border: 1px solid #000;
}

table.popv-notes th {
    background: #222 url(graphics/th.jpg) repeat-x top left;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    padding: 5px 10px;
}

table.popv-notes td {
    font-size: 80%;
    padding: 5px 10px;
    border-top: 1px solid #CCC;
}


    /*LIGHT BLUE*/
.color_0 {background-color:#CCFFFF;}
    /*LIGHT GREEN*/
.color_1 {background-color:#CCFFCC;}
    /*LIGHT YELLOW*/
.color_2 {background-color:#FFFFCC;}
    /*LIGHT PURPLE*/
.color_3 {background-color:#CCCCFF;}
    /*LIGHT PINK*/
.color_4 {background-color:#FFCCFF;}
    /*LIGHT ORANGE*/
.color_5 {background-color:#FFCC99;}
    /*TURQUOISE*/
.color_6 {background-color:#33FFFF;}
    /*GREEN*/
.color_7 {background-color:#00CC00;}
    /*PINK*/
.color_8 {background-color:#FF00FF;}
    /*WHITE  */
.color_9 {background-color:#FFFFFF;}

    /*******************************************************************
    *  POPV Grid Help Dialog
    *******************************************************************/

.help-text h1 {
    font-size: 120%;
    text-decoration: underline;
    font-weight: bold;
    margin: 10px 5px 15px 15px;
}

.help-text p {
    margin: 0px 10px 10px 15px;
}

.help-text label {
    font-weight: bold;
}
    /*******************************************************************************
    * Admin::MessagesController
    *******************************************************************************/
#admin-message {
    position: absolute;
    top: 0px;
    right: 180px;
    color: #000;
    border-left: 2px solid #F60;
    border-bottom: 2px solid #F60;
    border-right: 2px solid #F60;
    padding: 5px;
    background-color: #FC4;
    font-weight: bold;
}

.admin-messages h1 {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 10px;
}

.admin-messages p {
    padding-bottom: 20px;
}

.admin-messages label {
    font-weight: bold;
    font-size: 120%;
}

